ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

li {
    display: inline-block;
    margin-right: 5px;
}

a {
    background: #16a085;
    color: #fff;
    padding: 10px 25px;
    display: block;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

a:hover {
    background: #3498db;
}